body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropContainer {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.dropZone {
  cursor: pointer;
  height: 300px;
}

.dropZone-sm {
  cursor: pointer;
  /* height: 300px; */
}